<?xml version="1.0" encoding="UTF-8"?>
<widget
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:tizen="http://tizen.org/ns/widgets"
  id="my.new.project"
  version="1.0.0"
  viewmodes="maximized">

  <name>My New Project</name>
  <description>Smart TV web application configured for Tizen TV emulator.</description>
  <author href="https://example.com" email="dev@example.com">My New Project Author</author>

  <!-- Entry point -->
  <content src="index.html" />

  <!-- Icons (relative to this folder) -->
  <icon src="icon.png" />
  <tizen:icon section="tv" src="icon.png" />

  <!-- Tizen application metadata -->
  <tizen:application
    id="my.new.project.my_new_project"
    package="my.new.project"
    required_version="6.0" />

  <!-- Target Tizen profile -->
  <tizen:profile name="tv" />

  <!-- TV category -->
  <tizen:category name="http://tizen.org/category/tv" />

  <!-- Recommended TV settings -->
  <tizen:setting
    screen-orientation="landscape"
    context-menu="disable"
    background-support="disable"
    encryption="disable"
    install-location="auto"
    hwkey-event="enable" />

  <!-- Access policy -->
  <access origin="*" subdomains="true" />

  <!-- Common privileges for TV web apps using network or key input -->
  <tizen:privilege name="http://tizen.org/privilege/internet" />
  <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice" />
  <tizen:privilege name="http://tizen.org/privilege/application.launch" />

  <!-- Features for TV profile -->
  <feature name="http://tizen.org/feature/screen.size.normal" required="false" />
  <feature name="http://tizen.org/feature/tv" required="true" />
</widget>
