<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="org.example.myprojecttv"
        version="1.0.0"
        viewmodes="maximized"
        width="1920" height="1080">
  <name>MyProjectTV</name>
  <tizen:profile name="tv"/>
  <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable"/>
  <tizen:application id="org.example.myprojecttv" package="org.example.myprojecttv" required_version="2.4"/>
  <content src="index.html"/>
  <icon src="../icon.png"/>
  <icon src="../icons/app-icon-96.png" />
  <icon src="../icons/app-icon-192.png" />
  <icon src="../icons/app-icon-512.png" />
  <allow-navigation href="*" />
  <access origin="*" subdomains="true"/>
  <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
  <feature name="http://tizen.org/feature/network.wifi"/>
  <feature name="http://tizen.org/feature/network.internet"/>
  <tizen:privilege name="http://tizen.org/privilege/internet"/>
  <tizen:metadata key="app-type" value="web"/>
  <tizen:metadata key="supported-input" value="remote,keyboard"/>
  <tizen:category name="video"/>
  <tizen:display-name>MyProjectTV</tizen:display-name>
  <tizen:description>Smart TV app with landing and home pages</tizen:description>
</widget>
